html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: #b4cedb
}
header{
	outline: 1px solid red;
}
main{
	outline: 1px solid green;
}
footer{
	outline: 1px solid yellow;
}

.button{
	border: none;
	background: none;
	transition: .25s;
	margin-right: 10px;
}
.button:hover, .button:focus{
	outline: none;
	opacity: .5;
}
.button--faq{
	margin-left: auto;
	margin-right: 0;
}

.button__play{
	display: block;
}
.button__pause{
	display: none;
}
.working .button__play{
	display: none;
}
.working .button__pause{
	display: block;
}

.mainHeader{
	padding: 10px 15px;
	display: flex;
	align-items: center;
}
.main{
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}
.mainFooter{
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mainFooter__heading{
	margin: 0 0 5px;
	font-weight: normal;
}

.eye{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	border-radius: 100%;
	background-color: pink;
	transition: .2s;
}
.eye--left{
	transform: translateX(-50px);
	left: 50%;
	margin-left: -25px;
}
.eye--right{
	transform: translateX(50px);
	right: 50%;
	margin-right: -25px;
}


input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 7px 0;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 7px;
	cursor: pointer;
	background: #28b558;
	border-radius: 0px;
	border: none;
  }
  input[type=range]::-webkit-slider-thumb {
	border: 2px solid #ffe584;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background: #b4cedb;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #2abd5c;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 7px;
	cursor: pointer;
	background: #28b558;
	border-radius: 0px;
	border: none;
  }
  input[type=range]::-moz-range-thumb {
	border: 2px solid #ffe584;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background: #b4cedb;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 7px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #26ad54;
	border: none;
	border-radius: 0px;
  }
  input[type=range]::-ms-fill-upper {
	background: #28b558;
	border: none;
	border-radius: 0px;
  }
  input[type=range]::-ms-thumb {
	border: 2px solid #ffe584;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background: #b4cedb;
	cursor: pointer;
	height: 7px;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #28b558;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #2abd5c;
  }
  